*{
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    padding: 0;
    background-color:white;
    color: black;
}

.head-main{
    height: 10vh;
    margin-bottom: 9vw;
    display: flex;
    justify-content: center;
    margin-top: 2vw;
    
}

.head1{
    display: flex;
    justify-content:space-between;
    padding: 0 2.5vw;
    align-items: center;
    background: #2419F30F;

   
    width: 70vw;
    border-radius: 10px;
    line-height: 2;
    backdrop-filter: blur(96px);
    box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.16);


}

.head2,.head4{
    display: flex;
    gap: 2vw;
    font-family: 'Archivo';
}
.head3{
    font-family: 'DotGothic16';
    
    font-size: 22px;
    font-weight: 300;
    line-height: 42px;
    letter-spacing: -0.04em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    
    padding-right: 155px;
    margin-bottom: 2px;

    
}

.landing_page{
    text-align: center;
    font-size: 50px;
    width: 100%;
}

.landing_page h1{
    margin-bottom: 2vw;
    font-family: 'DotGothic16';
    
}

.landing_page img{
    width: 95vw;
    margin-bottom: 10vw;
}

.grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-bottom: 7vw;
    height: 130vh;
}

.project{
    margin: 0 2vw;
    
}
.project img{
    width: 100%;
    margin-bottom: 10px;
}
.i{
    height: 32vh;
    width: 41vw;
}
.project h3 , .project p {
    font-family: Archivo;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;  
    font-weight: 200;

    
}
.project p {
    
    font-size: 17px;


}


.caption{
    text-align: center;
    display: flex;
    justify-content: center;
    margin-bottom: 10vw;

    
}

.caption h3 {
    width: 60vw;
    font-family: DotGothic16;
    font-size: 48px;
    font-weight: 400;
    line-height: 52px;
    letter-spacing: -0.01em;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

}

.list{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    padding: 4vw;
    font-family: 'Archivo';


}
.list1 h4{
    
    font-size: 28px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: -0.01em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

    font-family: 'DotGothic16';

}
.list2 ul, .list3 ul {
    font-family: 'Archivo';
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    text-underline-position: from-font;

    

    list-style-type: none;

}
.list2 ul li, .list3 ul li{
    margin-bottom: 1rem;
}
#divider{
    width: 100%;
    height: 0;
    border: 1px solid rgba(0, 0, 0, 1);
    margin-top: 4rem;
    margin-bottom: 13rem;
    
}


.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 4em 4vw 18vh;
    text-align: center;
    margin-bottom: 20rem;

}
.footer h3{
    font-family: 'DotGothic16';
    font-size: 28px;
    font-weight: normal;
    line-height: 32px;
    letter-spacing: -0.01em;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    margin-bottom: 1rem;




}
.footer p{
    font-family: 'Archivo';

    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    margin-bottom: 10px;

}

#form{

font-family: 'Archivo';
font-size: 15px;
font-weight: 400;
line-height: 20px;
text-align: center;
text-underline-position: from-font;
text-decoration-skip-ink: none;

}
.touch{
    display: flex;
    align-items: center;
    justify-content:space-between;
    margin-top: 5rem;
    padding: 48px 48px 48px 48px;
    gap: 96px;
    opacity: 0px;
    margin-bottom: 10rem;
    
}
.get{
    margin-left: 48px;
}
.get h1{
    font-family: 'DotGothic16';
    font-size: 48px;
    font-weight: 400;
    line-height: 52px;
    letter-spacing: -0.01em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

}
.collab{
    width:634px;
    flex-wrap: wrap;
}
.collab p{
    font-family: 'Archivo';
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: -0.005em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

}

.box{
    display: flex;
    justify-content: center;
    
    
    width: 400px;
    height: 106px;
    gap: 32px;
    opacity: 0px;
    margin-bottom: 0%;
    padding-bottom: 0%;

}



.footer-box{
    display: flex;
    justify-content: center;
    align-items: center;
    

    width: 56px;
    height: 48px;
    padding: 8px 16px 8px 16px;
    gap: 0px;
    border-radius: 10%;
    border: 1px solid black;
    opacity: 0px;
    margin-bottom: 0;


}



input[type='submit']{
    

   
    margin-top: 0;
    padding: 8px 16px 8px 16px;
    gap: 0px;
    border-radius: 8px 0px 0px 0px;
    border: none;
    opacity: 0px;

    background: rgba(36, 25, 243, 1);

    color: white;
    width: 20rem;
    border-radius: 8px;
    line-height: 1.5;
    cursor: pointer;
    margin-bottom: 1rem;


}



#skip{
    margin-top: 1rem;
    color: rgba(36, 25, 243, 1);
    


font-size: small;
background: none;
border: none;
cursor: pointer;
}



.page-footer{
display: flex;
justify-content: space-between;
margin: 2vh 2vw 2vh 2vw;

}
#follow{
    border: 1px solid black;
    font-family: 'Archivo Narrow';
    
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    text-decoration-skip-ink: none;

    
    
    border-radius: 5px;
    padding: 10px;
    font-size: medium;
    cursor: pointer;
}

#future{
    font-family: 'DotGothic16';
    font-size: 28px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: -0.01em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

}

.exploreimg{
    width: 100%;
    max-height: 700px;
}

.explorechild{
    
    position: absolute;
    left: 96px;
    padding-bottom: 48px;
    transform: translate(-8px,-223px);
}
.explorechild p{
    color: white;
}
#p1{
    font-family: 'DotGothic16';
    font-size: 34px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: -0.01em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    width: 900px;
    height: 40px;
    gap: 0px;
    opacity: 0px;
    margin-bottom: 6px;
    padding-bottom: 6px;
    


}
#p2{
    font-family: 'Archivo';
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: -0.005em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    width: 900px;
    height: 32px;
    gap: 0px;
    opacity: 0px;
    margin-bottom: 10px;
    padding-bottom: 10px;

}
#project-button{
    font-family: 'Archivo Narrow';
    
    border-radius: 8px;
    width: 180px;
    height: 50px;
    background-color: white;
    padding: 12px 24px 12px 24px;
    gap: 0px;
    border:0;
    border-radius: 8px;
    opacity: 0px;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;



}
